@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: MilkyNice;
  src: url(/public/fonts/MilkyNice.otf);
  weight: 700;
}

body {
  font-family: MilkyNice;
  display: flex;
  flex-direction: column;
  background-color: #EDFBF4;
}


.app__navbar {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 2;
}

.video-container{
  border-top-left-radius: 110px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}